body{
    overflow-x: hidden;
}
img.technorian{
margin:  0px 50px;
}

#contact .contact-tab{
    background-color: rgba(0, 0, 0, 0.46);
    border-radius: 5px;
    color: white;
}
a.explore1
{
text-decoration: none;
color: #FFFFFF;
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
border: 0.5px solid #FFFFFF;
border-radius: 4px;
padding: 0.1em 0.5em;
margin-top: 80px;
}
img.explore1
{
width: 30px !important;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

nav{
z-index: 1000;
}

.dad{
position: relative;
width: 100%;
height: 30px;



}
#comp{

position: absolute;
background:#007690;

height:40px;
width:220px;
clip-path: polygon(0 0,84% 0,100% 100%,0 100%);
color: #FFFFFF;
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 22px;
border: none;
outline: none;
}


#idea{

border: none;
background:#007690;
text-align: center;
height:40px;
width:200px;
position:absolute;
left: 200px;
clip-path: polygon(0% 0,82% 0,100% 100%,18% 100%);
color: #FFFFFF;
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 22px;
outline: none;
}


.for{
margin-left: -20%;
position: absolute;
margin-top: 5%;
}

#competitions{
padding: 80%;
}

#idetes{
padding: 0%;
}
.card{

/* width: 100%; */
 margin: 30px auto;
position: relative;
width: 17vw;
/*margin-top: 5vw;*/
background: transparent;
z-index: -100;
}
/*.row .col-4{*/
/*    z-index: 5;*/
/*}*/
.thumbnail {
height: 18vw;
border-radius: 5px 5px 5px 5px;
position: relative;
overflow: hidden;

background-size: cover;
transition: all 0.3s ease-in-out;

background-position: center;
background-repeat: no-repeat;
}
.post-content {
padding: 9px 12px;
padding-bottom: 2px;
position: absolute;
color: #fff !important;
bottom: 0;
width: 100%;
font-size: 25px;
}

.sub_title2{
background-image: url("/static/resources/competitions/Rectangle 149.png");
background-size: cover;
width: 120px;
height: 30px;
padding-left: 20px;
color: #fff !important;
position: absolute;
bottom: 0;
left: 0px;
top: 20px;
background-repeat: no-repeat;
margin-left: -5px;

}
.sub_title3{
background-image: url("/static/resources/competitions/Rectangle 173.png");
background-size: cover;
width: 163px;
height: 35px;
padding-left: 10px;
color: #fff !important;
position: absolute;
bottom: 0;
left: 0px;
top: 20px;
background-repeat: no-repeat;
margin-left: -5px;
}
.post-modules {
/* width: 20%; */
/* margin: 30px auto; */
position: relative;
border: 0.5px solid white;
border-radius: 5px 5px 5px 5px;
}
.title {
margin-bottom: 5px;
/*font-family: GothamLight;*/

font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 21px;
color: #fff;
/* padding-bottom: 5px; */
}
.sub-title {
/*font-family: GothamLight;*/
font-style: normal;
/* font-size: 18px; */
line-height: 18px;
color: #fff;
/* margin-bottom: 10px; */
}
.row justify-content-center{
width: 100%;
}
p.name{
margin: 0;
}
.contact{
    width:100%;
    border-radius: 5px;
    height:140px;
    border: 2px solid white;
    background: rgba(255,255,255,0.06) !important;
    margin: auto;
    margin-bottom: 50px;
}
.container-contact{
    width: 110%;
    margin: auto;
    background: rgba(255,255,255,0.06);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.post-modules:hover .desc {
display: block;
transition: all 0.4s ease-in;
margin-bottom: 1px;
}


.desc {
font-size: 14px;
display: none;
transition: all 0.4s ease-in;
margin-bottom: 0px !important;
}
.refer{
background-color:#094157 ;
border: 0.3px solid #ABABAB;
border-radius: 4px;
box-sizing: border-box;
/*margin: auto;*/
padding-top: 3px;
padding-left: 0.5vw;
padding-right: 0.5vw;

width: 40%;
/*width: 10rem;*/
height: 30px;
margin-left: 7px;
text-align: center;
}
.explore{
/*margin-left:-50px;*/
background-color: transparent;
border: 0.3px solid #989898;
border-radius: 4px;
box-sizing: border-box;
/*width: 76px;*/
height: 30px;
width: 40%;
text-align: center;
    padding-top: 3px;
padding-left: 1vw;
padding-right: 1vw;
margin-right: 7px;
/*margin: auto;*/
}



.skill{
display: flex;
align-items: center;

justify-content:space-evenly;

}
.circle{
align-items: center;
justify-content: center;
background-image: radial-gradient(#00000078, #00000000 75%);
/*background-image: radial-gradient(#00000075, #00000030 80%);*/
}
svg text{
transform: rotate(270deg);
/*font-size: larger;*/
font-size: 36px;
/*font-weight: 600;*/
font-style: normal;
line-height: 36px;
width: 74px;
height: 36px;
/* transform: translate(246px,-12px); */
}
body{
margin: 0;
padding: 0;
background: #212626;

background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%,  #00000070 100%),linear-gradient(270deg, rgba(0, 0, 0, 0) 0%,  #00000070 100%),url("https://s5.gifyu.com/images/website-2.gif");

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow-x: hidden;
}
svg{
margin: 0;
transform: rotate(90deg);
}
circle{
fill: none;
stroke: url(#GradientColor);
stroke-width: 20px;
stroke-dasharray: 608;
stroke-dashoffset: 608;
/*animation: anime 1s linear forwards;*/
}


@keyframes anime {
100%{
    stroke-dashoffset: 0;
}
}

.image img{
width: 73px;
height: 73px;
/*margin-bottom: 60px;*/
margin-top: -50px;
}

.name, .name3{
font-family: 'Avenir LT Pro';
font-weight: 400;
font-size: 28px;
line-height: 33.6px;
color: white;
margin-top: 10px;
}

.image1, .image2, .image3{
margin: 0 auto;
}

.name{
position: relative;
bottom: 25px;
}

.image{
position: relative;
left: 35px;
justify-content:center;
}

.number{
position: relative;
left: 40px;
}

/* .circle{
justify-content: space-evenly;
} */

svg{
position: relative;
left: -20px;
}
.active {
    background-color: #007691;
    color: #FFFFFF;
    border: none;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    width: 230px;
    background: #007691;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 13px;
    margin-top: 60px;

    clip-path: polygon(0 0, 0 100%, 60% 100%, 52% 0, 54% 0, 62% 100%, 62% 100%, 70% 100%, 62% 0, 64% 0, 72% 100%, 80% 100%, 80% 100%, 72% 0, 74% 0, 82% 100%, 82% 100%, 90% 100%, 82% 0, 84% 0, 92% 100%, 92% 100%, 100% 100%, 92% 0);
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*@import url(//db.onlinewebfonts.com/c/e5f78b4fb90a80a32be156470cbfead1?family=Avenir+LT+Pro);*/

.big{
    /* background: #212626; */
    display: flex;
    /* position: absolute; */
    /*background: #212626;*/
    justify-content: space-around;
}
.left-box{
    height: 442px;
    /* margin-left: 97px; */
    display: inline-block;
}
.right-box{
    height: 442px;
    display: inline-block;
}
.content-ex{

    height: 417px;
    /* left: 97px; */
    padding-top: 32px;
    border-radius: 0px 5px 5px 5px;
    border: 1px solid ;
    border-image: linear-gradient(to bottom,white,#212626) 1;
    backdrop-filter: blur(6px);
    border-bottom: none;
    align-items: center;
    text-align: center;

}
.content-comp{
    height: 417px;
    padding-top: 32px;
    /* left: 59px; */
    border-radius: 0px 5px 5px 5px;
    border:1px solid ;
    border-bottom: none;
    border-image: linear-gradient(to bottom,white,#212626) 1;
    backdrop-filter: blur(6px);
    align-items: center;
    text-align: center;

}
#ex-img1{
    /* width: 176px; */
    width: 40%;
    margin-top: 21px;
    margin-right: 2vw;
    pointer-events: none;
}
#ex-img2{
    /* width: 176px; */
    width: 40%;
    margin-top: 21px;
}
#comp-img1{
    /* width: 199px; */
    width: 40%;
    /*height: 220px;*/
    margin-right: 2vw;
    margin-top: 21px;
}
#comp-img2{
    /* width: 199px; */
    width: 40%;
    margin-top: 21px;
/*.big li{
    display:block;
    list-style: none;
    width: 146px;
    height: 32px;
    background: rgba(10, 127, 152, 0.6);
    clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
    color: white;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    padding: 0px 31px 0px 19px;*/

    
}
.text1{
    display: inline-block;
    color: white;
    padding: 10px;
}
.text2{
    display: inline-block;
    color: white;
    padding: 10px;
}
h4{
    padding: 0;
    margin: 0;
    font-family: 'Avenir LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
}
.text{
    display:flex;
    justify-content: space-evenly;
}
.text p{
    font-family: 'Avenir LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    margin-top: 5px;
}
.text-comp{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Avenir LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 24px; */
}
ul{
    padding-left: 0;
    /* align-items:inherit; */
    padding: 0;
    margin: 0;
    margin-bottom: 42px;

}
#head-nav{
    list-style: none;
    display: inline-block;
    width: 240px;
    height: 55px;
    background: #007690;
    clip-path: polygon(0% 0%, 86% 0%, 100% 100%, 0% 100%);
    color: white;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    padding: 0px 59px 0px 39px;
    z-index: 200;
    /* padding-top: auto; */
}
#head-nav2{
    list-style: none;
    display: inline-block;
    z-index: 200;

    width: 78.5px;
    height: 55px;

    background: #007690;
    clip-path: polygon(0% 0%, 58% 0%, 100% 100%, 42% 100%);
    position: relative;
    /*top: 12px;*/
    left: -26px;
    /* padding: 3px 59px 3px 39px; */
}
.mob-text1{
    display: none;
}

hr{
    border-top: 1px solid #FFFFFF;
    margin-top: 3px;
    margin-bottom: 3px;
}
    .reach{
        width: 100%;
        height: 100%;
    }
a.arefer{
    font-size:15px;
}
a.aexplore{
    font-size:15px;
    width: max-content;
    height: max-content;
}

@media only screen and (max-width:850px){
    .image{
        margin-left: -25px;
    }
}
@media only screen and (max-width: 1300px){
    .title{
        line-height: 23px;
    }
    .sub_title{
        font-size: 23px;
        line-height: 24px;
    }
}
@media only screen and (max-width: 1300px){
    .refer{
        padding-right: 2px;
        padding-left: 2px;
    }
    .title{
        font-size: 20px;
        line-height: 21px;
    }
    .sub_title{
        font-size: 21px;
        line-height: 22px;
    }
}
@media only screen and (max-width: 1185px){
    .title{
        font-size: 18px;
        line-height: 18px;
    }
    .post-content{
        line-height: 17px;
    }
    .sub_title{
        font-size: 19px;
        line-height: 20px;
    }
}
    @media only screen and (max-width: 1135px){
        .refer{
            padding-left: 1px;
            padding-right: 1px;
        }
    }
    @media only screen and (max-width:1052px){
    .title{
        font-size: 15px;
        line-height: 15px;
    }
    .post-content{
        line-height: 14px;
        font-size: 14px;
    }
    .sub_title{
        font-size: 16px;
        line-height: 16px;
    }
    a.arefer{
        font-size:13px;
    }
    a.aexplore{
        font-size:13px;
    }
}
@media only screen and (max-width:955px){
    .sub_title{
        font-size: 16px;
        line-height: 16px;
    }
}
@media only screen and (max-width:920px){
    .post-content{
        font-size: 12px;
        line-height: 13px;
    }
    .title{
        font-size: 14px;
        line-height: 14px;
    }
    .sub_title{
        font-size: 14px;
        line-height: 14px;
    }
    a.arefer{
        font-size:11px;
    }
    a.aexplore{
        font-size:11px;
    }
}
    @media only screen and (max-width:890px){
    .post-content{
        font-size: 10px;
        line-height: 10.5px;
    }}
    @media only screen and (max-width:840px) {
        .post-content {
            font-size: 10px;
            line-height: 10.5px;
        }
        .title{
        font-size: 13px;
        line-height: 13px;
    }
    .sub_title{
        font-size: 13px;
        line-height: 13px;
    }
    }
@media only screen and (max-width:1000px){

    #comp-img1{
        height: 150px;
    }
    #comp-img2{
        height: 150px;
    }
    #ex-img1{
        height: 150px;
    }
    #ex-img2{
        height: 150px;
    }
}
@media only screen and (max-width:770px){
    .content-comp{
        width: 152%;
    }
    .big{
        display: block;
        align-items: center;
    }

    .left-box{
        align-self: auto;

    }
    .right-box{

        margin-top: 100px;
        margin-left: 64px;

    }
    .content-ex{
        align-items: center;
    }
    #ex-img1{
        margin: auto;
        display:block;
        margin-top: 31px;
        width: 70%;
        height: 70%;
    }
    #ex-img2{
        margin: auto;
        display:block;
        margin-top: 31px;
        width: 70%;
        height: 70%;
    }
    .text{
        display: none;
    }
    .text1{
        display: block;
        /* position: absolute;
        top: ; */
    }
    .text2{
        display: block;
    }
    .text h4{
        align-self: center;
        text-align: center;
    }
    .mob-text1{
        display: block;
        color: white;
        font-family: 'Avenir LT Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
    }
    .mob-text1 p{
        font-family: 'Avenir LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    }
}

    .row .col-6{
        max-width: 100%;
        /*text-align: center;*/
    }



  .img1{
    scroll-snap-align: start;

    background-image: url("/static/resources/parallax/Parallax_left.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-size: cover;
    z-index: -1;

    min-height: 100vh;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -100;
}
.img2{
    scroll-snap-align: start;

    background-image: url("/static/resources/parallax/Parallax_right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.img{
    /* // scroll-snap-align: start; */
    background-image: url("/static/resources/parallax/compi-new-underwater.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /*position: absolute;*/
    position: fixed;
}
.compimg{
    background-image: url("/static/resources/parallax/competitions%20text.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    width:100%;
    /*position: absolute;*/
    position: fixed;
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    /*z-index: -100;*/
    margin-left: auto;
    margin-right: auto;
    /*width: 360px; !* Need a specific value to work *!*/
    font-size: 80px;
    transition: all ease 0.3s;
    font-family: "Bebas Kai";
    color: #FFFFFF;
}
#scroll-area{
    width: 100%;
    height: 100%;
     /*z-index: +10000;*/
}
#gradient1{
    width: 100%;
    height: 100%;
    z-index: +100;
}
.header
  {
      justify-content: left;
      padding-bottom: 70px;
  }
  
          ul.heading{
      padding-left: 0;
      /* align-items:inherit; */
      padding: 0;
      margin: 0;
      margin-bottom: 42px;
      justify-content: left;
  
  }
          #head-nav{
      position: absolute;
      left: 0px;
      list-style: none;
      display: inline-block;
      width: 240px;
      height: 40px;
      background: #007690;
      clip-path: polygon(0% 0%, 86% 0%, 100% 100%, 0% 100%);
      color: white;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 38px;
      padding: 0px 59px 0px 39px;
      z-index: -1;
      /* padding-top: auto; */
  }
  #head-nav2{
      list-style: none;
      display: inline-block;
  
      width: 78.5px;
      height: 40px;
  
      background: #007690;
      clip-path: polygon(0% 0%, 58% 0%, 100% 100%, 42% 100%);
      position: absolute;
      left: 220px;
      z-index: -1;
  }
  
  .our-reach
      {
          position: relative;
          color: white;
          width: 70%;
      }
  
  .technorian{
      height: 160px;
  
  }
  
  .compi{
      position: fixed;
      top: 40%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 360px; /* Need a specific value to work */
      font-size: 80px;
      transition: all ease 0.3s;
      font-family: "Bebas Kai";
      color: #FFFFFF;
  }
  .compi-scroll{
      position: fixed;
      top: 65%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 216px; /* Need a specific value to work */
      font-size: 80px;
      transition: all ease 0.3s;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      letter-spacing: 0.38em;
      font-family: "Bebas Kai";
      color: #888888;
      animation: blinker 1.5s linear infinite;
      z-index: 10;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
  
  @font-face {
      font-family: Bebas Kai;
      src:url(/static/resources/fonts/BebasKai.ttf);
  }
          /* width */
      ::-webkit-scrollbar {
          width: 6px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
          background: #929fad;
          /* display: none; */
      }
  
      /* Handle */
      ::-webkit-scrollbar-thumb {
          background: rgb(37, 70, 83);
          border-radius: 4px;
      }
  
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: rgb(50, 86, 91);
      }
  
  .navbar
  {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,  #000000 100%), url(/static/resources/layout/Rectangle%20143.png);
      background-size: cover;
      background-position: center;
      height: 58px;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-between;
      z-index: 1000;
      position: fixed;
      top: 0px;
      width: 100%;
  }
  .whole-navbar a
  {
      text-decoration: none;
      height: 29px;
      font-family: 'Bebas Kai';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
  }
  .whole-navbar a:hover
  {
      text-decoration: none !important;
      color: white !important;
  }
  .navbar a:hover{
      text-decoration: none !important;
      color: #FFFFFF;
  }
  
 

  
  .top-left
  {
      display: flex;
      justify-content: space-between;
      width: 30%;
      padding-top: 7px;
      padding-left: 30px;
  }
  .top-right
  {
      display: flex;
      justify-content: space-between;
      width: 30%;
      padding-top: 7px;
      padding-right: 30px;
  }
  a.signin
  {
      box-sizing: border-box;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      padding-left: 4px;
      padding-right: 4px;
      text-align: center;
      background: #FFFFFF;
      color: black;
  }
  a.signin:hover{
      color: black !important;
  }
  .logos{
      display: flex;
      justify-content: space-between;
      width: 34.8%;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,  #000000 100%);
      text-align: center;
  }
  .logos {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  img.logo
  {
      margin-top: 5px;
      height: 48px;
  }
  .bot
  {
      display: flex;
      justify-content: space-between;
      position: fixed;
      bottom: 0px;
      width: 100%;
      height: 58px;
      z-index: 1000;
  }
  .bot-left
  {
      background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,  #000000 100%), url('/static/resources/layout/Rectangle%20142.png');
      width: 32.6%;
      background-size: cover;
      background-position: right;
      height: 58px;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-between;
      padding-right: 60px;
      padding-top: 15px;
      padding-left: 30px;
  }
  .bot-right
  {
      background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,  #000000 100%), url('/static/resources/layout/Rectangle%20141.png');
      width: 32.6%;
      background-size: cover;
      background-position:left;
      height: 58px;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-between;
      padding-left: 60px;
      padding-top: 15px;
      padding-right: 30px;
  }

  @media only screen and (max-width: 1150px){
      .navbar{
          padding: 8px 0px;
      }
      .bot-left{
          padding: 15px 60px 0px 20px;
      }
      .bot-right{
          padding: 15px 20px 0px 60px;
      }
      .top-left{
          width: 27.5%;
      }
      .top-right{
          width: 27.5%;
      }
  }
  @media only screen and (max-width: 1050px) {
      .whole-navbar a {
          font-size: 22px;
      }
  }
      @media only screen and (max-width: 1000px){
      .whole-navbar a{
          font-size: 20px;
      }
      .top-left{
          width: 25%;
          padding: 7px 0px 0px 20px;
      }
      .top-right{
          width: 25%;
          padding: 7px 20px 0px 0px;
      }
  }
  @media only screen and (max-width: 950px){
      .whole-navbar a{
          font-size: 19px;
      }
      .top-left{
          width: 25%;
      }
      .top-right{
          width: 25%;
          padding-right: 10px;
      }
      .logos{
          padding: 12px 2% 0px 2%;
      }
  }
  @media only screen and (max-width: 900px) {
      .whole-navbar a {
          font-size: 18px;
      }
  }
  @media only screen and (max-width: 850px){
      .whole-navbar a{
          font-size: 15px;
      }
      .top-left{
          width: 22.5%;
          padding-left: 10px;
      }
      .top-right{
          width: 22.5%;
          padding-right: 10px;
      }
      .logos{
          padding: 12px 1% 0px 1%;
      }
      .bot-left{
          padding-left: 10px;
      }
      .bot-right{
          padding-right: 10px;
      }
  }
  @media only screen and (max-width: 770px){
      .whole-navbar a{
          font-size: 12px;
      }
      .top-left{
          width: 22.5%;
          padding-left: 10px;
      }
      .top-right{
          width: 22.5%;
          padding-right: 10px;
      }
      .logos{
          padding: 12px 1% 0px 1%;
      }
      .bot-left{
          padding-left: 10px;
      }
      .bot-right{
          padding-right: 10px;
      }
  }
  @media only screen and (max-width: 740px){
      .whole-navbar a{
          font-size: 12px;
      }
      .top-left{
          width: 22.5%;
          padding-left: 10px;
      }
      .top-right{
          width: 21%;
          padding-right: 10px;
      }
      .logos{
          padding: 12px 1% 0px 1%;
      }
      a.signin{
          width: 40px;
      }
      .bot-left{
          padding-left: 10px;
      }
      .bot-right{
          padding-right: 10px;
      }
  }
  #navbar{
      transition: top 0.3s;
  }
  .navgrad{
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,  #000000 100%);
  }
  #bottom-bar{
      transition: bottom 0.3s;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,  #000000 100%);
  }
  #nav-events:hover{
      cursor: pointer;
      position: relative;
  }
  .event-drop{
      opacity: 0;
      position: absolute;
      top: 30px;
      background-color: black;
      border: 2px solid white;
      border-radius: 5px;
  }
  
      .dropdown-menu{
        background: rgba(0,0,0,0.75);
        left: -50%;
        
    }
    .dropdown{
        z-index: 100;
    }
    .drop-item{
        font-size: 18px !important;
        font-family: "Avenir LT Pro" !important;
    }
  